.button{
    -fx-border-width: 2;
    -fx-border-color: blue;
    -fx-text-alignment: Center;
    -fx-text-fill: blue;
}

.root{
    -fx-background-color: #add8e6;
}

.text{
    -fx-border-color: black;
    -fx-border-width: 2;
}
